<form method="POST" class="ajaxForm form-horizontal" action="{{path('character_form_ajax')}}" {{ form_enctype(form) }}>
    <input type="hidden" id="hdTitle" value="{{title}}" />
    <div class="form_body">
        {% include '_character_form.html.twig' %}
    </div>
    <div class="form-group">
        <div class="col-sm-12 text-center">
            <button type="submit" class="btn btn-primary btnSubmitForm">{{button_label}}</button>
            {#<a href='{{ path('home') }}' class='btn btn-danger'><span>Retour</span></a>#}
        </div>
    </div>
</form>